$fa-font-path : '../node_modules/font-awesome/fonts';

$white: #fff;
$light-gray: #F9F9F9;
$lighten-gray: #E9EAEA;
$rgba-gray: rgba(147,149,151,0.1);
$purple: #740D6B;
$red: #EE3222;
$red-200: #FCD6D3;
$red-100: #FBCECA;
$green: #016861;
$green-lighten: #67A4A0;
$light-green: #7FC241;
$dark-blue: #1D488F;
$blue-darken: #677CA0;
$blue: #01ACD5;
$blue-100: #F3F8F8;
$light-blue: #8CD1E1;
$orange: #F68A1E;
$yellow: #FDB814;
$gray: #939597;
$gray-100:#EAEAEB;
$gray-200: #D8D8D8;
$gray-300: #F4F4F4;
$dark-gray: #343434;
$black: #000;

//mixin
@mixin text-ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
@mixin clearfix() {
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

$brand-success:                  $green-lighten !default;

// Body
$body-color:                     transparentize($black, 0.2) !default;
$body-bg:                        $white;

//Breakpoints
$mobile:                         768px;
$tablet:                         1024px;
$desktop:                        1200px;
$desktop-lg:                     1368px;

// Default settings
$text-color:                     $body-color;
$font-family-sans-serif:         -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$border-color:                   $gray-100;
$border-radius-base:             2px !default;
$padding-base:                   15px;
$link-color:                     $dark-blue;





//typography
$font-size-base:                 1.4rem !default;
$font-size-small:                1.3rem !default;
$line-height-small:              1.5rem !default;
$font-size-xs:                   1.1rem !default;
$line-height-xs:                 1.2rem !default;
$text-muted:                     $gray;
$text-info:                      $blue;
$text-warning:                   $yellow;
$text-danger:                    $red;
$text-success:                   $light-green;
$code-bg:                        $light-gray;
$timestamp-color:                $text-muted;

$arrow-back-color:               lighten($gray, 10%);
$arrow-top-color:                $gray;

$csr-slogan-font-size:          1.8rem;
$csr-slogan-line-height:        2.1rem;
//hr
$hr-margin-y:                    15px !default;
$hr-border-color:                $gray-100;

  //Badges
$badge-bg:                       $blue !default;
$badge-color:                    $white !default;
$badge-link-hover-color:         $white !default;
$badge-active-color:             $blue !default;
$badge-active-bg:                $blue !default;
$badge-font-weight:              normal !default;
$badge-font-size:                11px !default;
$badge-border-radius:            16px !default;
$badge-empty-bg:                 #eaeaea;
$badge-empty-color:              $gray;
$badge-padding-x:                .5rem;
$badge-padding-t:                .2rem;
$badge-padding-b:                .3rem;

//Buttons
$input-btn-border-width:       0.1rem !default;
$input-btn-border-color:       $border-color !default;
$input-btn-padding-y:          .85rem !default;
$input-btn-padding-x:          .6rem !default;
$input-btn-line-height:        1.14 !default;

$input-btn-padding-y-sm:       .8rem !default;
$input-btn-padding-x-sm:       .9rem !default;
$input-btn-line-height-sm:     1.5 !default;

$input-btn-padding-y-xs:        .1rem !default;
$input-btn-padding-x-xs:        1rem !default;
$input-btn-font-size-xs:        13px !default;
$input-btn-line-height-xs:      15px !default;
$btn-border-radius-xs:          $border-radius-base;
$btn-font-weight:                normal !default;
$btn-radius-base:                $border-radius-base;
$btn-border-radius-base:         $btn-radius-base !default;

//forms
$border-width:                   0.1rem;
$input-height:                   34px;
$input-border-radius:            $border-radius-base;
$input-border-color:             $lighten-gray;
$input-danger-border-color:      $red;
$input-focus-border-color:       $blue;
$input-box-shadow:               none;

//large search form
$solid-input-bg:                 #F2F2F2;
$solid-input-border-color:       $solid-input-bg;
$large-input-height:             50px;
$large-input-font-size:          15px;
$large-input-line-height:        $large-input-font-size*1.333;
$large-input-padding:            1.4rem 4.5rem 1.6rem 1.5rem;
$large-input-submit-padding:     1.6rem 1.5rem;

//form control
$input-padding-t:                .7rem !default;
$input-padding-b:                .8rem !default;
$input-padding-x:                .6rem !default;
$input-line-height:              1.7rem !default;
$input-disabled-bg:              #F9F9F9;

//form-control-sm
$input-padding-y-sm:             0.25rem;
$input-padding-x-sm:             0.5rem;

//form-control-lg
$input-border-radius-lg:         $border-radius-base;
$input-padding-y-lg:             1.2rem;
$input-padding-x-lg:             1.5rem;
$font-size-lg:                   1.6rem;

//btn small
$btn-font-size-small:            $font-size-small !default;
$btn-line-height-small:          16px !default;
$btn-font-weight-small:          normal !default;

//btn-lg
$btn-padding-y-lg:              1.5rem !default;
$btn-padding-x-lg:              0.6rem !default;
$btn-font-size-lg:                  $font-size-base;
$btn-line-height-lg:            1.6rem;
$btn-border-radius-lg:          $border-radius-base;

//btn light
$btn-light-color:              transparentize($black, 0.2) !default;
$btn-light-bg:                 $white !default;
$btn-light-border:             $lighten-gray !default;
$btn-light-bg-hover:           transparentize($black, 0.97);
$btn-light-border-hover:       $border-color;
$btn-light-bg-active:          #eaf3f5;
$btn-light-border-active:      $light-blue;

//btn primary
$btn-primary-color:              $white !default;
$btn-primary-bg:                 $blue-darken !default;
$btn-primary-border:             $blue-darken !default;
$btn-primary-bg-hover:           darken($blue-darken, 5%);
$btn-primary-border-hover:       darken($blue-darken, 5%);
$btn-primary-bg-active:          darken($blue-darken, 6%);
$btn-primary-border-active:      darken($blue-darken, 6%);

//btn success
$btn-success-color:              $white !default;
$btn-success-bg:                 $green-lighten !default;
$btn-success-border:             $green-lighten !default;
$btn-success-bg-hover:           darken($green-lighten, 5%);
$btn-success-border-hover:       darken($green-lighten, 5%);
$btn-success-bg-active:          darken($green-lighten, 6%);
$btn-success-border-active:      darken($green-lighten, 6%);
$btn-success-bg-disabled:        $green-lighten;
$btn-success-border-disabled:    $green-lighten;

//btn send-post
$btn-send-post-color:            $white;
$btn-send-post-bg:               transparentize($green, .4);
$btn-send-post-border:           transparentize($green, .4);
$btn-send-post-bg-hover:         transparentize($green, .2);
$btn-send-post-border-hover:     transparentize($green, .2);
$btn-send-post-padding-x:        8px;
$btn-send-post-padding-y:        35px;

//btn-filter
$btn-filter-color:               $gray;
$btn-filter-bg:                  transparent;
$btn-filter-border:              $lighten-gray;
$btn-filter-color-hover:         $white;
$btn-filter-bg-hover:            $blue;
$btn-filter-border-hover:        $blue;

//btn underline
$btn-underline-font-size:        15px;
$btn-underline-line-height:      20px;
$btn-underline-padding:          0 0.3rem 1.3rem 0.3rem;
$btn-underline-margin:           0 2.8rem 0 -0.3rem;
$btn-underline-color-hover:      $blue;
$btn-underline-border-color:     $btn-underline-color-hover;

//btn icon
$btn-icon-bg:                    transparent;
$btn-icon-color:                 $gray;
$btn-icon-color-hover:           $blue;
$btn-icon-border:                0;
$btn-icon-padding:               0;

//btn add
$btn-add-size:                   3.4rem;
$btn-add-size-xs:                2.4rem;
$btn-edit-bg:                    #f7f7f7;

$btn-search-color:               $gray;

//Suggested workgroups
$btn-suggested-group-margin:      30px -5px 30px !important;
$btn-suggested-item-margin:        5px !important;
$btn-suggested-item-border-radius:  2px !important;
$btn-suggested-item-bg:             $light-gray;
$btn-suggested-item-border:         $lighten-gray;
$btn-suggested-item-color:          $gray;
$btn-suggested-item-border-hover:   $blue;
$btn-suggested-item-bg-hover:       $blue;
$btn-suggested-item-color-hover:    $white;

//$btn-info-color:                 #fff !default;
//$btn-info-bg:                    $brand-info !default;
//$btn-info-border:                darken($btn-info-bg, 5%) !default;
//
//$btn-warning-color:              #fff !default;
//$btn-warning-bg:                 $brand-warning !default;
//$btn-warning-border:             darken($btn-warning-bg, 5%) !default;
//
//$btn-danger-color:               #fff !default;
//$btn-danger-bg:                  $brand-danger !default;
//$btn-danger-border:              darken($btn-danger-bg, 5%) !default;
//
//$btn-link-disabled-color:        $gray-light !default;

//Dropdowns
$dropdown-bg:                    $white;
$dropdown-min-width:             195px;
$dropdown-box-shadow:            0 .2rem .5rem transparentize($black,0.75);
$dropdown-font-size:             $font-size-base !default;
$dropdown-line-height:           18px !default;
$dropdown-link-color:            transparentize($black, 0.2);
$dropdown-link-hover-color:      $dropdown-link-color;
$dropdown-link-active-color:     $dropdown-link-color;
$dropdown-link-hover-bg:         transparentize($green, 0.9);
$dropdown-link-active-bg:        $dropdown-link-hover-bg;
$dropdown-divider-color:         #CBCBCB;
$dropdown-link-disabled-color:   transparentize($black, 0.5);
$dropdown-font-size-small:       $font-size-small !default;
$dropdown-line-height-small:     15px !default;
$dropdown-header-color:          $dropdown-link-color;
$dropdown-header-bg:             #F4F4F4;
$dropdown-header-padding-x:      17.5px;
$dropdown-header-padding-y:      10px;
$dropdown-item-padding-x:        10px;
$dropdown-item-padding-y:        16px;

//dl
$dt-horizontal-offset:          180px !default;

// Z-index master list
$zindex-fixed:              1030 !default;
$zindex-popover:            1077 !default;
$zindex-sidebar:            1081 !default;
$zindex-sticky:             1060 !default;
$zindex-dropdown:           1061 !default;
$zindex-tooltip:            1077 !default;
$zindex-toggle-button:      1075 !default;
$zindex-modal-backdrop:     1089 !default;
$zindex-modal:              1090 !default;
$zindex-panel:              1076 !default;
$zindex-chatbot:            $zindex-toggle-button;
$zindex-notification:       1091 !default;
$zindex-loading-screen:     1100;

//Header
$header-height:                  50px;
$header-bg:                      $light-gray;
$header-padding-x:               10px;
$header-padding-y:               15px;
$header-padding-l:               45px;

//jump-to-csr
$jump-csr-input-height:                35px;
$jump-csr-input-width:                 200px;
$jump-csr-input-padding:               10px 36px 10px 10px;
$jump-csr-input-bg-empty:              $header-bg;
$jump-csr-input-border-empty:          $header-bg;
$jump-csr-input-bg:                    $white;
$jump-csr-input-border:                $lighten-gray;
$jump-csr-input-border-disabled:       $blue;
$jump-csr-input-border-width:          1px;
$jump-csr-input-border-radius:         $border-radius-base;
$jump-csr-submit-color:                transparentize($gray, .1);
$jump-csr-submit-color-disabled:       $blue;

//Main menu
$menu-padding:                         $padding-base ($padding-base - 1) $padding-base $padding-base*2;
$menu-link-color:                $dark-blue;
$menu-link-hover-color:          $blue;
$sidebar-bg:                     #f5f5f5;
$sidebar-border-width:           1px;
$sidebar-border:                 $gray-100;
$sidebar-footer-height:          40px;
$sidebar-footer-link-bg:         #F4F4F4;
$sidebar-footer-link-color:      #9b9d9f;
$btn-hamburger-color:            $gray;
$sidebar-width:                  220px;
$sidebar-width-collapsed:        50px;

//anchor-bar
$anchor-panel-height:            50px;
$anchor-btn-home-width:          $anchor-panel-height;
$anchor-btn-border-color:        $border-color;

//Box Utilities
$box-font-size:                 $font-size-base !default;
$box-line-height:               1.35 !default;
$default-box-bg:                $light-gray;
$suggested-csr-bg:              transparentize($yellow,0.95);

//Ticket layout controls
$scroll-bar-width:                   17px;
$app-page-content-width:             75%;
$app-page-aside-width:               25%;
$app-page-aside-min-width:           470px;
$app-page-aside-min-width-md:        370px;
$app-page-content-full-width:        $app-page-content-width + $app-page-aside-width;

//user status
$user-status-online:             $light-green;
$user-status-away:               $yellow;
$user-status-offline:            $gray;
$user-status-border:             #FCFCFC;

//user-pic image size
$user-pic-extra-small:           24px;
$user-pic-small:                 34px;
$user-pic-medium:                50px;
$user-pic-sublarge:              80px;
$user-pic-large:                 96px;

//user-pic status
$user-pic-status-small:          10px;
$user-pic-status-medium:         14px;

//answer
$answer-padding:                 $padding-base/2 $padding-base;
$answer-min-height:              50px;
$answer-wrapper-padding-left:    $user-pic-medium + $padding-base*2;
$answer-avatar-offset:           $user-pic-medium + $padding-base;
$answer-avatar-offset-sm:        $user-pic-small + $padding-base;

$formal-answer-bg:               transparentize($orange, 0.95);
$technical-answer-bg:            transparentize($green, 0.95);

//Forum
$forum-gutter:                                   $padding-base*2;
$forum-border:                                   $blue-100;
$forum-bg:                                       $blue-100;
$forum-text-font-size:                           $font-size-base;
$forum-text-line-height:                         $forum-text-font-size*1.3;
$forum-blockquote-font-size:                     $font-size-small;
$forum-blockquote-color:                         $text-muted;
$forum-blockquote-border:                        $blue;
$forum-timestamp-font-size:                      1.2rem;
$forum-timestamp-color:                          $timestamp-color;
$forum-email-post-bg:                            transparent;

$forum-label-color:                              $white;
$forum-label-radius:                             $border-radius-base;
$forum-label-font-size:                          1.2rem;
$forum-label-line-height:                        1.1;
$forum-label-padding-x:                          0.3rem;
$forum-label-padding-y:                          0.5rem;
$forum-label-from-sms-bg:                        $gray;
$forum-label-from-sms-margin-x:                  0;
$forum-label-from-sms-margin-y:                  5px;

$forum-filters-bg:                               $default-box-bg;
$forum-filters-padding:                          $padding-base;
$forum-filters-margin-bottom:                    $padding-base*2;
$forum-toggle-margin:                            0 0 0 $padding-base;
$forum-toggle-description-margin:                11px;
$forum-toggle-description-color:                 $text-color;
$forum-filter-group-margin-top:                  $padding-base;
$forum-filter-label-width:                       80px;
$forum-filter-label-color:                       $gray;
$forum-comment-offset:                           $user-pic-medium + $padding-base*3;
$forum-comment-avatar-offset:                    -#{$user-pic-medium + $padding-base*2};

//forum history item
$forum-history-item-bg:                          $body-bg;
$forum-history-item-height:                      50px;
$forum-history-item-border-width:                2px;
$forum-history-item-border-color:                #F3F8F8;
$forum-history-item-margin-bottom:               0;
$forum-history-item-padding:                     $padding-base/2 0 $padding-base/2 $padding-base;
$forum-history-item-font-size:                   1.2rem;
$forum-history-item-line-height:                 $forum-history-item-font-size*1.14;
$forum-history-item-color:                       $text-muted;
$forum-history-icon-font-size:                   12px;
$forum-history-user-pic-size:                    27px;
$forum-history-icon-size:                        $forum-history-user-pic-size;
$forum-history-icon-box-shadow:                  0 0 0 2px $white;
$forum-history-icon-bg:                          transparentize($gray, .4);
$forum-history-icon-bg-cover:                    $white;
$forum-history-icon-color:                       $white;
$forum-history-icon-offset:                      -10px;
$forum-history-action-width:                    $user-pic-medium;

//Tasks
$tasks-panel-bg:                 transparentize($green, 0.95);
$tasks-panel-padding:            $padding-base;
$tasks-nav-link-color:           $gray;

//Linked Items
$csr-status-registered:          transparentize($gray, 0.4);
$csr-status-pre_analysis:        $dark-blue;
$csr-status-analysis:            $orange;
$csr-status-internal:            $purple;
$csr-status-formal:              $blue;
$csr-status-follow_up:           $green;
$csr-status-finished:            $light-green;
$csr-status-default:             $gray;

//CSR collaboration Status
$status-engagement:              transparentize($green, .4);
$status-consultation:            transparentize($blue, .4);
$status-collaboration:           transparentize($orange, .4);
$status-waiting:                 transparentize($red, .4);
$status-answered:                transparentize($orange, 0.4);
$status-completed:               transparentize($dark-blue, 0.4);

//CSR Type
$csr-type-font-size:             1.2rem;
$csr-type-line-height:           1.15;
$csr-type-problem:               $orange;
$csr-type-consultation:          $blue;
$csr-type-project:               $green;
$csr-type-internal:              $gray;
$csr-type-warranty:              $purple;
$csr-type-hardware:              $purple;

//CSR Severity
$csr-severity-font-size:        1.2rem;
$csr-severity-line-height:      1.15;
$csr-severity-icon-size:        1rem;
$csr-severity-low:              $green;
$csr-severity-emergency:        $red;
$csr-severity-high:             $orange;
$csr-severity-medium:           $light-green;

//Popover
$popover-bg:                    $white !default;
$popover-max-width:             420px !default;
$popover-border-width:          0 !default;
$popover-border-radius:         4px;
$popover-box-shadow:            0 2px 15px 0 rgba(0,0,0,0.25);

$popover-inner-padding-y:       $padding-base !default;
$popover-inner-padding-x:       $padding-base*2 !default;

$popover-header-bg:             transparent !default;
$popover-header-color:          $text-muted !default;
$popover-header-padding-y:      0 !default;
$popover-header-padding-x:      0 !default;
$popover-header-font-size:      18px;
$popover-header-line-height:    21px;
$popover-header-margin:         25px;

$popover-arrow-width:           0 !default;
$popover-arrow-height:          0 !default;
$popover-arrow-color:           transparent !default;

$popover-body-padding-y:        0 !default;
$popover-body-padding-x:        0 !default;


//csr popover
$csr-popover-bg:                 $white;
$csr-popover-width:              470px;
$csr-popover-padding:            40px;
$csr-popover-border-radius:      $border-radius-base*2;
$csr-popover-box-shadow:         0 2px 15px 0 transparentize($black, .75);

//dl
$dt-horizontal-offset:          180px !default;

// Z-index master list
$zindex-dropdown:              1061 !default;
$zindex-sticky:                1060 !default;
$zindex-fixed:                 1030 !default;
$zindex-modal-backdrop:        1079 !default;
$zindex-modal:                 1080 !default;
$zindex-popover:               1030 !default;
$zindex-tooltip:               1071 !default;
$zindex-sidebar:               1060 !default;
$zindex-notification:          1080 !default;
$zindex-loading-screen:        1081;
$zindex-search-row:            3;
$zindex-search-autocomplete:   2;

//CSR Details
$details-name-width:           200px;
$details-name-width-sm:        150px;
$details-line-height:          1.15;
$datails-name-font-weight:     normal;
$details-name-color:           $text-muted;
$details-min-resize-width:     1500px;

//ngx-table
$table-header-bg:                      #F2F7F7;
$table-header-padding-y:               1rem;
$table-header-padding-x:               0;
$table-header-font-size:               1.1rem;
$table-header-line-height:             1.6rem;
$table-header-font-weight:             normal;
$table-header-color:                   $gray;
$table-header-border:                  transparentize($black,.95);
$table-body-bg:                        $light-gray;
$table-body-row-odd:                   $white;
$table-body-row-even:                  $table-body-bg;
$table-body-row-hover:                 transparentize($blue, .97);
$table-body-row-active:                #99DDEE;
$table-body-row-checked:               #E6F7FB;
$table-body-font-size:                 $font-size-small;
$table-body-line-height:               normal;
$table-body-cell-padding-x:            0.8rem;
$table-body-cell-padding-y:            1rem;
$table-cell-font-size-sm:              1.2rem;
$table-checkbox-content:               "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E";
$table-checkbox-color:                 $blue;
$table-checkbox-default-border:        1px solid rgba(147,149,151,0.5);

//data-table header
$data-table-header-height:                    50px;
$data-table-header-bg:                        $light-gray;
$data-table-header-box-shadow:                inset 0 1px 0 0 $gray-100;
$data-table-header-title-padding-x:           12px;
$data-table-header-title-padding-y:           $padding-base;
$data-table-header-actions-padding-x:         $padding-base/2;
$data-table-header-actions-padding-y:         $padding-base;

$datatable-settings-title-padding:            ($padding-base + $padding-base/2) $padding-base $padding-base*2;
$datatable-settings-title-font-size:          18px;
$datatable-settings-title-line-height:        24px;
$datatable-settings-title-color:              $text-muted;
$datatable-settings-dropdown-offset-top:      -50px;
$datatable-settings-dropdown-offset-left:     -123px;
$datatable-settings-dropdown-width:           220px;
$datatable-settings-dropdown-box-shadow:      0 2px 15px 0 transparentize($black, .75);
//gutter toggle
$gutter-toggle-width:                         50px;
$gutter-toggle-height:                        $data-table-header-height;
$gutter-toggle-border-width:                  1px;
$gutter-toggle-border-color:                  $gray-100;
$gutter-toggle-color:                         $btn-icon-color;

//progress linear loader
$progress-linear-loader-height:               3px;
$progress-linear-loader-bg:                   linear-gradient(to right, rgba(161, 197, 23, 0.6) 0%, rgba(0, 159, 128, 0.6) 100%);
$progress-linear-loader-bar-bg:               rgb(0, 159, 128);

//tasks
$tasks-count-bg:                       #E4E4E5;
$tasks-count-radius:                   100px;
$tasks-count-font-size:                $table-cell-font-size-sm;
$tasks-count-line-height:               1;
$tasks-count-padding-x:                .25rem;
$tasks-count-padding-y:                .5rem;

//Aside toggle button
$aside-toggle-radius:                  100px;
$aside-toggle-bg:                      #667CA0;
$aside-toggle-collapsed-bg:            $blue;
$aside-toggle-color:                   $gray;
$aside-toggle-collapsed-color:         $white;
$aside-toggle-box-shadow:              0 2px 10px 0 rgba(29, 72, 143, 0.5);
$aside-toggle-width:                   36px;
$aside-toggle-height:                  36px;

// List group
$list-group-bg:                        transparentize($green, 0.95);
$list-group-border-width:              0;
$list-group-item-padding-y:            0.8rem !default;
$list-group-item-padding-x:            1.5rem !default;
$list-group-item-border-radius:        $border-radius-base;

//thumbnails
$thumbnails-font-size:                 $font-size-small;
$thumbnails-line-height:               15px;
$thumbnails-item-padding-l:            15px;
$thumbnails-item-padding-r:            60px;
$thumbnails-min-height:                50px;
$thumbnails-margin-bottom:             2px;
$thumbnails-item-bg:                   transparentize($green, 0.95);
$thumbnails-item-border-radius:        $border-radius-base;

//Collaboration rating
$collaboration-rating-bg:              $light-gray;
$collaboration-rating-padding-x:       9px;
$collaboration-rating-padding-y:       13px;
$collaboration-rating-title-font-size: $font-size-small;
$collaboration-rating-title-color:     $gray;

//Collaboration rating tooltip
$collaboration-rating-tooltip-header-font-size: 1.3rem;
$collaboration-rating-tooltip-header-margin-b: 5px;

// Collaboration rating modal
$rating-modal-border-radius:                4px;
$rating-modal-body-padding:                 0;
$rating-modal-badge-font-size:              1.2rem;
$rating-modal-badge-margin:                 15px;
$rating-modal-badge-padding:                8px;
$rating-modal-badge-color:                  $gray;
$rating-modal-badge-bg:                     $light-gray;
$rating-modal-table-padding-x:              1.5rem;
$rating-modal-table-padding-y:              1rem;
$rating-modal-table-header-border-b-color:  rgba(0, 0, 0, 0.12);
$rating-modal-table-header-bg:              #F2F7F7;
$rating-modal-table-header-color:           $gray;
$rating-modal-table-header-font-size:       1.1rem;
$rating-modal-table-header-line-height:     2.2rem;
$rating-modal-table-body-font-size:         1.3rem;


//Timeline
$timeline-bg:                          transparentize($green, 0.95);
$timeline-header-padding-x:            10px;
$timeline-header-padding-y:            15px;
$timeline-body-margin-t:               0;
$timeline-body-margin-b:               10px;
$timeline-body-margin-y:               0;
$timeline-footer-padding-t:            0;
$timeline-footer-padding-b:            10px;
$timeline-footer-padding-y:            15px;
$timeline-footer-color:                $black;
$timeline-footer-font-weight:          normal;
$timeline-time-margin-t:               7px;
$timeline-time-margin-b:               10px;
$timeline-table-paddind-cell:          1rem 1.5rem;
$timeline-editable-field-margin-l:     10px;
$timeline-editable-field-icon-font-size: 1.6rem;
$timeline-loader-bg:                   rgba(255, 255, 255, 0.5);
$timeline-loader-font-size:            3rem;

  //Progressbar
$progress-font-size:                   1.05rem;
$progress-height:                      5px;
$progress-border-radius:               $border-radius-base;
$progress-bg:                          rgba(147,149,151,0.2);
$progress-bar-bg:                      $blue;

//Workgroups
$workgroups-nav-header-height:         $data-table-header-height;
$workgroups-nav-width:                 230px;
$workgroups-nav-width-collapsed:       0;
$workgroups-nav-box-shadow:             inset -1px 0 0 0 $gray-100;
$workgroups-nav-bg:                    $white;
$workgroups-nav-border-color:          $gray-100;
$workgroups-nav-toggle-border:         $gray-100;
$workgroups-nav-loading-size:          $font-size-base*1.42;
$workgroups-nav-loading-padding:       $workgroups-nav-header-height + $padding-base $padding-base;
$workgroups-nav-bg-hover:              transparentize($blue, 0.97);
$workgroups-nav-color-hover:           $blue;

$workgroups-tree-icon-color:           $dark-blue;
$workgroups-tree-icon-right-color:     $workgroups-tree-icon-color;
$workgroups-tree-icon-up-color:        $blue;
$workgroups-tree-link-color:           $text-color;
$workgroups-tree-link-color-hover:     $blue;
$workgroups-tree-font-size:            $font-size-small;
$workgroups-tree-line-height:          15px;
$workgroups-tree-item-margin-x:        $padding-base/2;
$workgroups-tree-item-margin-y:        0;


//Workgroups
$workgroup-assigned-color:             rgba(1,172,213,0.6);
$workgroup-sms-engagement-color:       rgba(147,149,151,0.6);
$workgroup-unassigned-color:           rgba(246,138,30,0.6);
$workgroup-participant-only:           $red;

//text-editor
$text-editor-min-height:               280px;
$text-editor-no-header-min-height:     123px;
$text-editor-max-height:               500px;
$text-editor-border:                   1px solid #8dd6e7;
$text-editor-border-color:             #8dd6e7;
$text-editor-toolbar-padding-x:        12px;
$text-editor-toolbar-padding-y:        8px;
$text-editor-toolbar-bg-color:         #EAF3F5;
$text-editor-toolbar-border-radius:    $border-radius-base $border-radius-base 0 0;
$text-editor-heading-width:            110px;
$text-editor-heading-font-weight:      bold;
$text-editor-h1-font-size:             18px;
$text-editor-h2-font-size:             16px;
$text-editor-base-font-size:           15px;
$text-editor-picker-options-width:     72px;
$text-editor-footer-padding-x:         8px;
$text-editor-footer-padding-y:         12px;
$text-editor-footer-border-radius:     0 0 $border-radius-base $border-radius-base;

$comments-textarea-padding-x:          1.2rem;
$comments-textarea-padding-y:          0.8rem;
$comments-textarea-margin-x:           0.5rem;
$comments-textarea-margin-y:           0;

$simple-editor-bg:                     $white;
$simple-editor-border:                 $text-editor-border;
$simple-editor-padding:                13px 1px 15px 15px;
$simple-editor-font-size:              $box-font-size;
$simple-editor-line-height:            $box-line-height;
$simple-editor-border-radius:          $border-radius-base $border-radius-base 0 0;
$simple-editor-min-height:             124px;

//inline editor
$inline-editor-bg:                       $white;
$inline-editor-height:                   50px;
$inline-editor-border-width:             $input-btn-border-width;
$inline-editor-box-shadow:               0 1px 4px 0 transparentize($black, .88);
$inline-editor-border-color:             transparentize($gray,.8);
$inline-editor-offset:                   -#{$input-btn-padding-y*2} -#{$input-btn-padding-x*2 + $input-btn-border-width};
$inline-editor-padding:                  ($input-btn-padding-y*2 - $border-width) $btn-add-size ($input-btn-padding-y*2 - $border-width) $input-btn-padding-x*2;
$inline-editor-border-radius:            $border-radius-base;
$inline-editor-toggle-font-size:         $csr-severity-font-size;
$inline-editor-toggle-line-height:       $csr-severity-line-height;
$inline-edit-fields-padding:             ($input-btn-padding-y*2 - $border-width) $padding-base ($input-btn-padding-y*2 - $border-width) $input-btn-padding-x*2;

//post status dropdown
$post-type-margin-x:                    14px;
$post-type-margin-y:                    12px;
$post-type-btn-color:                   $white;
$post-type-btn-border:                  0;
$post-type-btn-padding-x:               0.5rem;
$post-type-btn-padding-y:               1rem;
$post-type-btn-font-size:               1.2rem;
$post-type-btn-font-weight:             bold;
$post-type-dropdown-height:             300px;
$post-type-dropdown-item-color:         $text-color;

//notications
$notification-posted:                   $green;
$notification-success:                  $light-green;
$notification-danger:                   $red;
$notification-warning:                  $yellow;
$notification-info:                     $dark-blue;
$notification-width:                    380px;
$notification-font-size:                12px;
$notification-line-height:              16px;
$notification-icon-size:                20px;

// Modals
$modal-lg:                                       800px !default;
$modal-md:                                       650px !default;
$modal-sm:                                       420px !default;

$modal-title-font-size:                          1.7rem;
$modal-title-line-height:                        2rem;
$modal-content-border-radius:                    $border-radius-base;
$modal-content-border:                           0 !default;
$modal-content-box-shadow:                       0 2px 15px 0 rgba(0,0,0,0.25);
$modal-backdrop-bg:                              $black !default;
$modal-backdrop-opacity:                         .25 !default;
$modal-header-border-color:                      rgba(147,149,151,0.14);
$modal-header-padding:                           30px 15px 25px !default;
$modal-body-padding:                             20px 15px !default;
$modal-footer-padding:                           20px 15px;
$modal-btn-submit-width:                         130px;
$modal-btn-cancel-width:                         115px;

// Rating
$rating-font-size:                               1.6rem;
$rating-color:                                   $gray;
$rating-active-color:                            $yellow;
$rating-margin-r:                                7px;

  //asignment-modal
$assignment-modal-footer-bg:                     #f4f4f4;
$assignment-modal-padding:                       10px 15px 15px;

//panel
$panel-width:                                    $app-page-aside-min-width;
$panel-box-shadow:                               inset 1px 0 0 0 $gray-100;
$panel-border-width:                             1px;
$panel-border-color:                             $gray-100;
$panel-header-height:                            $anchor-panel-height;
$panel-heading-font-size:                        1.7rem;
$panel-heading-line-height:                      normal;
$panel-search-form-width:                        158px;
$panel-header-box-shadow:                        inset 0 1px 0 0 $gray-100;

//fullsize-panel
$fullsize-panel-bg:                              $header-bg;

//ticket preview panel
$ticket-panel-box-shadow:                        inset 0 1px 0 0 $gray-100, inset 1px 0 0 0 $gray-100;
$ticket-panel-font-size:                         $font-size-base;
$ticket-panel-line-height:                       1.35;
$ticket-panel-toolbar-font-size:                 12px;
$ticket-panel-toolbar-line-height:               16px;
$ticket-panel-spacer:                            5px;

//collaboration modal
$collaboration-modal-body-padding:               0;
$collaboration-modal-body-padding-inner:         20px 15px;
$collaboration-modal-bg-blue:                    $blue-100;
$collaboration-form-h5-font-size:                $font-size-small;
$collaboration-form-h5-margin:                   25px;

//hint
$hint-bg:                                        $light-gray;
$hint-font-size:                                 $font-size-small;
$hint-line-height:                               21px;
$hint-padding-x:                                 20px;
$hint-padding-y:                                 85px;
$collaboration-modal-hint-margin:                0 -15px -20px;

$info-bubble-bg:                                 #64799d;
$info-bubble-size:                               50px;
$info-bubble-font-size:                          20px;

//csr history filters
$csr-history-filters-padding:                      $padding-base/2 $padding-base;
$csr-history-filter-item-bg:                       $light-gray;
$csr-history-filter-item-border:                   $lighten-gray;
$csr-history-filter-item-color:                    $gray;
$csr-history-filter-item-bg-hover:                 $blue;
$csr-history-filter-item-border-hover:             $blue;
$csr-history-filter-item-color-hover:              $white;
$csr-history-filter-item-border-radius:            $border-radius-base !important;

$csr-history-filter-underline-item-bg:             transparent;
$csr-history-filter-underline-item-border:         transparent;
$csr-history-filter-underline-item-color:          $text-color;
$csr-history-filter-underline-item-color:          $text-color;
$csr-history-filter-underline-item-bg-hover:       $csr-history-filter-underline-item-bg;
$csr-history-filter-underline-item-border-hover:   $csr-history-filter-underline-item-border;
$csr-history-filter-underline-item-color-hover:    $blue;
$csr-history-filter-item-underline-border-radius:  0 !important;
$csr-history-filter-item-underline-border-color:   $blue;

//custom control
$custom-control-gutter:                          $padding-base*2;
$custom-control-spacer-y:                        $padding-base;

$custom-control-indicator-size:                  1.6rem !default;
$custom-control-indicator-bg:                    $white !default;
$custom-control-indicator-bg-size:               75% 75% !default;
$custom-control-indicator-border:                1px solid rgba(147,149,151,0.5);

$custom-checkbox-indicator-border-radius:        3px !default;

$custom-control-indicator-disabled-bg:           $gray-100 !default;
$custom-control-indicator-disabled-border:       $custom-control-indicator-disabled-bg;
$custom-control-description-disabled-color:      $gray !default;

$custom-control-indicator-checked-bg:            $blue !default;
$custom-control-indicator-checked-color:         $white !default;
$custom-control-indicator-checked-border:        $custom-control-indicator-checked-bg;
$custom-control-indicator-checked-box-shadow:    none !default;

$custom-control-indicator-focus-border:          $blue;
$custom-control-indicator-focus-box-shadow:      none !default;

$custom-control-indicator-active-bg:             $blue !default;
$custom-control-indicator-active-color:          $white !default;
$custom-control-indicator-active-border:         $custom-control-indicator-active-bg;
$custom-control-indicator-active-box-shadow:     none !default;



//trouble report notes
$note-border-width:                              2px;
$note-border-color:                              $blue;
$note-padding-left:                              10px;
$note-margin-bottom:                             $padding-base;

//cards
$card-width:                                     275px;
$card-height:                                    400px;
$card-border-radius:                             $border-radius-base;
$card-border-color:                              $lighten-gray;
$card-beta-features-bg:                          #F3F8F8;
$card-beta-features-border:                      $card-beta-features-bg;
$card-box-shadow:                                0 0 10px transparentize($black, .85);
$card-icon-color:                                transparentize($dark-blue,.4);
$card-title-color:                               $dark-blue;
$card-title-font-size:                           1.7rem;
$card-title-line-height:                         2;
$card-title-margin-bottom:                       $padding-base;
$card-text-font-size:                            $font-size-small;
$card-text-line-height:                          1.53;

//beta key
$input-beta-key-padding-right:                   35px;

//autocomplete
$completer-dropdown-box-shadow:                 $dropdown-box-shadow;
$completer-dropdown-height:                     300px;
$completer-dropdown-width:                      310px !important;
$completer-dropdown-border:                     0 !important;
$completer-dropdown-padding:                    0 !important;
$completer-dropdown-margin-top:                 10px !important;
$completer-row-color:                           $text-color !important;
$completer-row-font-size:                       $font-size-small;
$completer-row-line-height:                     $line-height-small;
$completer-row-padding:                         10px !important;
$completer-invalid-border-color:                $red;
$completer-selected-row-background:             $dropdown-link-hover-bg !important;
$completer-selected-row-color:                  $dropdown-link-hover-color !important;
$completer-searching-color:                     $text-muted !important;
$completer-searching-padding:                   10px !important;

//emails
$email-collapsed-height:                        100px;
$email-inner-padding:                           $padding-base;
$email-border-width:                            1px;
$email-border-color:                            $gray-100;
$email-font-size:                               $font-size-small;
$email-line-height:                             $line-height-small*1.333;
$email-subject-font-size:                       $email-font-size*1.15;
$email-subject-line-height:                     $email-line-height*0.85;
$email-subject-margin-bottom:                   25px;
$email-sender-color:                            $text-color;
$email-sender-font-size:                        $email-font-size*1.15;
$email-sender-line-height:                      $email-line-height*0.85;
$email-date-color:                              $text-muted;
$email-recipients-color:                        $text-muted;

//Search page
$search-filters-width:                          350px;
$search-filters-width-collapsed:                0;
$search-filters-bg:                             $white;
$search-filters-box-shadow:                     $workgroups-nav-box-shadow;
$search-csr-area-bg:                            $light-gray;
$search-csr-area-height:                        100%;
$search-csr-area-min-width:                     640px;
$search-csr-header-height:                      130px;
$search-csr-header-border-width:                1px;
$search-csr-header-border-color:                $gray-100;
$search-csr-body-bg:                            $white;
$search-csr-body-height:                        calc(100% - #{$search-csr-header-height});
$search-csr-item-margin:                        50px 15px;
$search-csr-item-offset:                        30px;
$search-csr-item-time-font-size:                90%;
$search-csr-item-title-font-size:               17px;
$search-csr-item-title-line-height:             25px;
$search-csr-item-text-color:                    $text-muted;
$search-csr-item-text-font-size:                $font-size-small;
$search-csr-item-text-line-height:              $font-size-small*1.384;
$search-csr-item-highlight-border-radius:       $border-radius-base;
$search-csr-item-highlight-bg:                  #C7EDFC;

$search-dropdown-toggle-bg-hover:               $blue-100;
$search-dropdown-toggle-border-color-hover:     $input-focus-border-color;

//metis search item
$metis-item-padding-y:                          6.5rem;
$metis-item-margin-x:                           $padding-base*2;
$metis-item-space-sm:                           $padding-base/2;
$metis-product-border-width:                    2px;
$metis-product-padding-x:                       $padding-base - $metis-product-border-width;
$metis-item-title-color:                        $dark-blue;
$metis-item-title-font-size:                    1.6rem;
$metis-item-title-line-height:                  1.125;
$metis-item-title-margin-b:                     2.3rem;

//pagination
$pagination-font-size:                          1.5rem;
$pagination-line-height:                        1.3333 !default;
$pagination-color:                              $text-color !default;
$pagination-bg:                                 transparent !default;
$pagination-hover-color:                        $blue !default;
$pagination-hover-bg:                           $white !default;
$pagination-active-bg:                          $blue !default;
$pagination-active-color:                       $white !default;
$pagination-padding-x:                          $padding-base;
$pagination-padding-y:                          $padding-base/2;
$pagination-nav-margin-x:                       0;
$pagination-nav-margin-y:                       10px;
$pagination-nav-border-radius:                  $border-radius-base;
$pagination-nav-border-width:                   1px;
$pagination-nav-border-color:                   $border-color;
$pagination-border-radius:                      $border-radius-base;
$pagination-border-width:                       1px;
$pagination-border-color:                       $border-color;

//circle badge
$circle-bagde-bg:                               $gray-100;
$circle-bagde-color:                            $white;
$circle-bagde-width:                            106px;
$circle-bagde-height:                           $circle-bagde-width;
$circle-bagde-border-radius:                    $circle-bagde-width;
$circle-bagde-font-size:                        42px;
$circle-bagde-line-height:                      $circle-bagde-height - $padding-base*2;
$circle-bagde-padding:                          $padding-base;

//tpp section
$tpp-timeline-border-color:                     #E8E8E8;
$tpp-post-font-size:                            1.2rem;
$tpp-post-line-height:                          1.666;

$tpp-in-progress-bg:                            $body-bg;
$tpp-overdue-bg:                                transparentize($red,.95);
$tpp-completed-bg:                              transparentize($gray,.95);
$tpp-in-progress-badge-bg:                      transparentize($orange, .5);
$tpp-overdue-badge-bg:                          transparentize($red, .5);
$tpp-completed-badge-bg:                        transparentize($light-green, .5);
$tpp-item-box-shadow:                           inset 0 -1px 0 0 $gray-100;
$tpp-item-font-size:                            12px;
$tpp-item-line-height:                          16px;
$tpp-item-color:                                $text-muted;
$tpp-comlog-counter-bg:                         $lighten-gray;
$tpp-comlog-counter-color:                      $gray;
$tpp-comlog-section-bg:                         #f4f4f4;
$tpp-assignment-section-bg:                      #F3F8F8;

//ngx-datepicker
$datepicker-border-radius:                      $border-radius-base;
$datepicker-box-shadow:                         $dropdown-box-shadow;
$datepicker-header-bg:                          $white;
$datepicker-header-inner-bg:                    transparent;
$datepicker-header-btn-color-hover:             $blue;
$datepicker-btn-today-border-color-hover:       $datepicker-header-btn-color-hover;
$datepicker-weekdaytitle-bg:                    $table-header-bg;
$datepicker-weekdaytitle-color:                 $table-header-color;
$datepicker-cell-color:                         $text-color;
$datepicker-cell-bg:                            transparent;
$datepicker-cell-bg-hover:                      $blue;
$datepicker-cell-color-hover:                   $white;
$datepicker-current-color:                      $blue;
$datepicker-highlight-color:                    $gray;
$datepicker-selected-bg:                        transparent;
$datepicker-icon-font-size:                     14px;

//chatbot
$chatbot-panel-height:                          450px;
$chatbot-panel-width:                           350px;
$chatbot-panel-shadow:                          0 5px 30px 0 rgba(2, 142, 175, 0.24);
$chatbot-panel-padding:                         $padding-base;
$chatbot-panel-margin:                          5px;
$chatbot-collapsed-button-bg:                   #667CA0;

// learning and reflection
$lnr-success-color:                             $text-success;
$lnr-issue-color:                               $text-danger;
$lnr-improvement-color:                         #667CA0;
$lnr-sellable-bg:                               transparentize($red,.95);
$lnr-sellable-badge-bg:                         transparentize($red,.5);

//User profile
$profile-width:                                 57rem;
$profile-main-offset:                           6.5rem;
$profile-initial-font-size:                     1.7rem;
$profile-initial-line-height:                   2.2rem;
$user-initials-color:                           $dark-blue;

//embargo alert
$embargo-alert-backdrop-bg:                     #F2F7F7;
$embargo-alert-bg:                              #667CA0;
$embargo-alert-color:                           $white;
$embargo-alert-box-shadow:                      0 5px 30px 0 rgba(29,72,143,0.25);
$embargo-alert-btn-width:                       123px;
